<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704421310389-434sr3fvv9eo5nf41ivnf6hf0huiuk80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704421310389-434sr3fvv9eo5nf41ivnf6hf0huiuk80</string>
	<key>API_KEY</key>
	<string>AIzaSyAUYb8psK85LQsXrQ82Lw5f61rRka9g_rc</string>
	<key>GCM_SENDER_ID</key>
	<string>704421310389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Yerkebulan.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c95fd</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c95fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704421310389:ios:34b303b825d2958d6b73fc</string>
</dict>
</plist>